.App {
  text-align: center;
  background-color: rgba(163, 14, 14, 0.242);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.jumbotron.hovered h1 {
  transform: scale(1.4); 
  transition: transform 0.4s ease; 
}

#carta{
  background-color: rgba(253, 59, 0, 0.178)
}

.jumbotron.hovered h1, .card.hovered {
  transform: scale(1.4); 
  transition: transform 0.4s ease; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #265ac2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#carta {
  transition: transform 0.3s;
}

#carta:hover {
  transform: scale(1.1);
}

.lead {
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




